#map {
  border-radius: 4px;
  box-sizing: border-box;
  height: 600px;
  /* The height is 400 pixels */
  width: 80%;
  margin: auto;
  /* The width is the width of the web page */
}

body {
  color: rgb(95, 94, 94);
}