#map {
  border-radius: 4px;
  box-sizing: border-box;
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  margin: auto;
  /* The width is the width of the web page */
}

.bordo {
  margin-top:20px ;
}

body {
  color: rgb(95, 94, 94);
}
/* Parte della storia*/
#lanostrastoria {
  margin-bottom: 20px;
}

#lanostrastoria h3 {
  display: block;
  border-bottom: 4px solid white;
  font-size: 5vw;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.storia {
  background-color: #303030;
  padding: 10px;
}

.storia img {
  display: block;
  width: 100%;
}

.storia p {
  display: block;
  color: white;
  text-align: center;
  font-size: 2em;
}

@media screen and (min-width:976px) {
  #lanostrastoria h3 {
    font-size: 3vw;
  }
  #lanostrastoria {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }
  .storia {
    display: flex;
  }
  .storia img {
    height: auto;
    width: 50%;
    margin-right: 10px;
  }
  .storia p {
    font-size: 1.5vw;
  }
}
/* Fine parte della storia*/