@-webkit-keyframes slideInFromRight {
    10% {
        transform: translateX(10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInFromRight {
    0% {
        transform: translateX(10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInFromLeft {
    10% {
        transform: translateX(-10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInFromLeft {
    0% {
        transform: translateX(-10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10000px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideDown {
    10% {
        transform: translateY(10000px);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes slideDown {
    0% {
        transform: translateY(10000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(10000px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slideOutFormLeft {
    10% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

@-moz-keyframes slideOutFormLeft {
    10% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

@keyframes slideOutFormLeft {
    10% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

@-webkit-keyframes slideOutUp {
    10% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

@-moz-keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}