@import"keyframe.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.height-100 {
  height: 100px;
}
.colore {
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky {
  display: flex;
}

.display_immagini {
  display: flex;
}

#avvenuto_accesso {
  position: absolute;
  display: block;
  right: 180px;
}

.menu_nasc li {
  list-style: none;
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100px;
  font-size: 15px;
  transition: color, 0.5s;
}

.menu_nasc li a:hover {
  color: #ce8806;
}

.menu_nasc li a {
  display: block;
  width: 100%;
  text-align: center;
}

.menu_nasc ul {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.menu_nasc {
  bottom: -10px;
  right: 0;
  display: flex;
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  clip-path: circle(0px at 105% -10%);
  -webkit-clip-path: circle(0px at 105% -10%);
  transition: all 1s ease-out;
  z-index: 2;
}

.menu_nasc.open {
  overflow: hidden;
  clip-path: circle(2000px at 105% -10%);
  -webkit-clip-path: circle(2000px at 105% -10%);
  opacity: 0.9;
}

#navbar {
  position: relative;
  width: 100%;
  z-index: 100000;
  border-bottom: 2px solid rgb(95, 94, 94);
  
}

#navbar.scroll {
  position: fixed;
  top: -10px;
  width: 100%;
  z-index: 5;
}

/* HAMBURGER */

.menu-btn {
  -webkit-animation: slideInFromRight 0.5s forwards;
  -moz-animation: slideInFromRight 0.5s forwards;
  animation: slideInFromRight 0.5s forwards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 101;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 50px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

header img {
  width: 50px;
  height: 60px;
  display: block;
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.conta {
  display: flex;
  justify-content: center;
}

#navbarSupportedContent ul {
  display: flex;
  height: 100px;
  width: 70%;
  margin-top: 15px;
  justify-content: center;
  -webkit-animation: slideInFromLeft 1s forwards;
  -moz-animation: slideInFromLeft 1s forwards;
  animation: slideInFromLeft 1s forwards;
}

#navbarSupportedContent ul li {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

header a {
  color: white;
  transition: color 0.5s ease;
  /*i just moved this from anchor*/
}

header a:hover {
  text-decoration: none;
  color: #fa9715;
}

@media screen and (max-width: 996px) {
  #navbarSupportedContent ul {
    display: none;
  }
}

/*BOTTONI ACCEDI REGISTRA*/

#linkre {
  padding: 0;
  margin-bottom: 60px;
}

.box {
  -webkit-animation: slideInFromRight 0.5s forwards;
  -moz-animation: slideInFromRight 0.5s forwards;
  animation: slideInFromRight 0.5s forwards;
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 60px;
  width: 100px;
  font-size: large;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
}

.box:hover {
  border: 2px solid #303030;
  color:#303030;
}

.box::before, .box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 3px solid #303030;
  border-left: 3px solid #303030;
  -webkit-transform-origin: 0 100%;
}

.foo::after {
  border-top: 3px solid #303030;
  border-right: 3px solid #303030;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

#lista_accesso {
  display: none;
}

#accedi {
  position: absolute;
  right: 10%;
}

#registrati {
  position: absolute;
  right: 20%;
}

#dacliccare {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 3;
}

@media screen and (max-width:996px) {
  #accedi {
    right: 160px;
    transition: 0.2s;
  }
  #registrati {
    right: 280px;
    transition: 0.2s;
  }
}

/*ACCESSO AVVENUTO

#lista_accesso_effettuato {
  display: block;
    border:2px solid black;
  position: relative;
}
#lista_accesso_effettuato li{
  display: block;
  width: 200px;
  color: white;
  border: 1px solid white;
  height: 200px;
  font-size: 1em;
}
#avvenuto_accesso:hover #lista_accesso_effettuato{
  display: none;
}*/
@media screen and (max-width: 764px) {
  .menu-btn {
    width: 40px;
    height: 40px;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger::before, .menu-btn__burger::after {
    width: 40px;
  }
  .box {
    height: 50px;
    width: 80px;
    line-height: 50px;
    font-size: 15px;
    padding: 0 5px;
    margin: 0;
  }
  #linkre {
    padding: 0;
    margin-bottom: 50px;
  }
  #accedi {
    right: 125px;
    transition: 0.2s;
}
#registrati {
  right: 210px;
  transition: 0.2s;
}
}

